@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            padding-top: 238px;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            max-width: 340px;
        }
        &__text {
            max-width: 340px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            max-width: 300px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    .nav-game {
        grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
    }   

    .game {
        &-box {
            padding-top: 51px;
            padding-bottom: 85px;
        }
        &-box__img {
            &-1 {
                width: 344px;
                height: 236px;
            }
            &-2 {
                width: 344px;
                height: 231px;
            }
        }
    }
}